.MuiButton-contained {
  box-shadow: none !important;
}

.MuiButton-root {
  margin-right: 10px !important;
}

.MuiButton-root:last-child {
  margin-right: 0px !important;
}

form label .form-control {
  line-height: 36px;
  padding: 0 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-family: Roboto,Raleway,Open Sans;
}